.fearless_tla_extension {
  color: #494f56;
  font-family: Montserrat, Open Sans, sans-serif;
  font-weight: 700;
  font-size: 10pt;
  margin: 0;
}

.fearless_tla_submit {
  color: #fff;
  background: #5c3977;
  font-family: Montserrat, Open Sans, sans-serif;
  font-weight: 700;
  outline: none;
  border: none;
  margin: 3px;
  padding: 5px 10px;
  position: relative;
  overflow: hidden;
  float: right;
}

.fearless_tla_submit:hover {
  background: #ee5340;
  text-decoration: none;
}
#fearless_tla_title {
  color: #fff;
  background: #5c3977;
  font-size: 14pt;
  text-align: center;
  padding: 10px;
  margin: 0;
}

#fearless_tla_search_form {
  padding: 8px;
}

#fearless_tla_search_form input {
  margin: 6px 3px;
}

#fearless_tla_results {
  font-weight: 500;
  margin: 0;
  padding: 8px;
  clear: both;
}

#fearless_tla_results li {
  padding: 6px 0px;
}
